.paragraph {
	margin: 0;
}

._small {
	font-size: var(--font-size-small);
	line-height: 24px;
}

._medium {
	font-size: var(--font-size-medium);
	line-height: 24px;
}

._main {
	font-size: var(--font-size-main);
	line-height: 29px;
}
